.main{
	display: flex;
	margin: 64px;
	padding: 0 32px;
}

.main_form{
	margin: 48px;
	flex-grow: 1;
	position: static;
	height: 339px;
	position: flex;
	width: 512px;
	/* width: 512px; */
	/* border: 1px solid black; */
}


/* .main_authorizForm_form div{
	flex-grow: 1;

} */

.main_photoImg{
    flex-grow: 1;
	/* border: 1px solid black; */
	width: 616px;
}

.main_photoImg img{
	width: 100%;
}